.form_avatar{
    width: 430px;
    height: 272px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

@media screen and (max-width:500px) {
    .form_avatar{
        width: 282px;
        height: 322px;
        margin-top: 122px;
    }
}