.register-link {
  text-decoration: none;
  color: #ffffff;
  width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 15px 0 0 0;
}
@media screen and (max-width: 500px) {
  .register-link {
      width: 260px;
  }
}
