.popup_accept-delete-card {
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all .6s ease;
    z-index: 1;
}

.popup_accept-delete-card::before {
    content: '';
    background-color: #000000;
    opacity: .9;
    z-index: 2;
    width: 100%;
    height: 100vh;
}
