.popup-heading{
    max-width: 330px;
    width: 100%;
    margin: 0;
    font-size: 24px;
    line-height: 29px;
}
@media screen and (max-width:500px) {
    .popup-heading{
        width: 282px;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin: 0;
    }
}