.photo-cards{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    max-width: 880px;
    justify-content: center;
}

@media screen and (max-width:900px) {
    .photo-cards{
        grid-template-columns: repeat(2, max-content);
        grid-auto-rows: 1fr;
        column-gap: 17px;
        row-gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width:600px) {
    .photo-cards{
        grid-template-columns: minmax(min-content, max-content);
        grid-auto-rows: 1fr;
        justify-content: center;
    }
}
