.form_type_no-popup {
  width: 430px;
  background-color: #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .form_type_no-popup {
    width: 282px;
    max-height: 70vh;
  }
}
