.header{
    min-height: 74px;
    width: 100%;
    border-bottom: 1px solid #545454;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:500px) {
    .header{
        min-height: 56px;
    }
}


