.header__button {
  min-width: 53px;
  height: 22px;
  color: #a9a9a9;
  margin: 0 0 0 24px;
  grid-area: header-button;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width:500px) {
  .header__button{
    font-size: 14px;
    line-height: 17px;
  }
}